from block_wrangler.tag import TagLibrary
{% if blocks|length > 0%}from block_wrangler.library.factories import block_types
{% endif %}

def load_tags(library:TagLibrary):
	tag = library.touch('{{ name }}')
	{% for dependency in dependencies %}tag.add(library.touch('{{ dependency }}'))
	{% endfor %}{% if blocks|length > 0 %}
	tag.add(block_types({% for block in blocks %}
		'{{ block }}',{% endfor %}
	strict=False)){% endif %}